In [1]:
import requests

In [2]:
from api import API

In [47]:
page = 1
url = 'https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}'.format(API, page)

# payload = "{}"
# response = requests.request("GET", url, data=payload)

# print(response.text)

In [48]:
response = requests.get(url)

In [49]:
response

In [50]:
response.json().keys()

dict_keys(['page', 'total_results', 'total_pages', 'results'])

In [14]:
response.json()['results']

[{'vote_count': 2075,
  'id': 19404,
  'video': False,
  'vote_average': 9,
  'title': 'Dilwale Dulhania Le Jayenge',
  'popularity': 17.554,
  'poster_path': '/uC6TTUhPpQCmgldGyYveKRAu8JN.jpg',
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'genre_ids': [35, 18, 10749],
  'backdrop_path': '/mMaxGuQKuH4WUHBwUNhJOetDYE9.jpg',
  'adult': False,
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'release_date': '1995-10-20'},
 {'vote_count': 304,
  'id': 496243,
  'video': False,
  'vote_average': 8.8,
  'title': 'Parasite',
  'popularity': 29.813,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'original_language': 'ko',
  'original_title': '기생충',
  'genre_ids': [18, 53],
  'backdrop_path': '/ny5aCtglk2kceGAuAdiyqbhBBAf.jpg',
  'adult': False,
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'release_date': '2019-05-30'},
 {'vote_count': 13345,
  'id': 278,
  'video': False,
  'vote_average': 8.7,
  'title': 'The Shawshank Redemption',
  'popularity': 27.627,
  'poster_path': '/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg',
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'genre_ids': [18, 80],
  'backdrop_path': '/j9XKiZrVeViAixVRzCta7h1VU9W.jpg',
  'adult': False,
  'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'release_date': '1994-09-23'},
 {'vote_count': 10189,
  'id': 238,
  'video': False,
  'vote_average': 8.6,
  'title': 'The Godfather',
  'popularity': 24.982,
  'poster_path': '/rPdtLWNsZmAtoZl9PK7S2wE3qiS.jpg',
  'original_language': 'en',
  'original_title': 'The Godfather',
  'genre_ids': [18, 80],
  'backdrop_path': '/6xKCYgH16UuwEGAyroLU6p8HLIn.jpg',
  'adult': False,
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'release_date': '1972-03-14'},
 {'vote_count': 4253,
  'id': 372058,
  'video': False,
  'vote_average': 8.6,
  'title': 'Your Name.',
  'popularity': 24.105,
  'poster_path': '/xq1Ugd62d23K2knRUx6xxuALTZB.jpg',
  'original_language': 'ja',
  'original_title': '君の名は。',
  'genre_ids': [10749, 16, 18],
  'backdrop_path': '/nvsdKYPKwf51EAgC0xLJMB9kUZM.jpg',
  'adult': False,
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'release_date': '2016-08-26'},
 {'vote_count': 8175,
  'id': 424,
  'video': False,
  'vote_average': 8.5,
  'title': "Schindler's List",
  'popularity': 21.357,
  'poster_path': '/yPisjyLweCl1tbgwgtzBCNCBle.jpg',
  'original_language': 'en',
  'original_title': "Schindler's List",
  'genre_ids': [18, 36, 10752],
  'backdrop_path': '/af98P1bc7lJsFjhHOVWXQgNNgSQ.jpg',
  'adult': False,
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'release_date': '1993-12-15'},
 {'vote_count': 5979,
  'id': 240,
  'video': False,
  'vote_average': 8.5,
  'title': 'The Godfather: Part II',
  'popularity': 16.498,
  'poster_path': '/bVq65huQ8vHDd1a4Z37QtuyEvpA.jpg',
  'original_language': 'en',
  'original_title': 'The Godfather: Part II',
  'genre_ids': [18, 80],
  'backdrop_path': '/gLbBRyS7MBrmVUNce91Hmx9vzqI.jpg',
  'adult': False,
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'release_date': '1974-12-20'},
 {'vote_count': 7533,
  'id': 129,
  'video': False,
  'vote_average': 8.5,
  'title': 'Spirited Away',
  'popularity': 28.627,
  'poster_path': '/oRvMaJOmapypFUcQqpgHMZA6qL9.jpg',
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'genre_ids': [16, 10751, 14],
  'backdrop_path': '/djgM2d3e42p9GFQObg6lwK2SVw2.jpg',
  'adult': False,
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'release_date': '2001-07-20'},
 {'vote_count': 8433,
  'id': 497,
  'video': False,
  'vote_average': 8.5,
  'title': 'The Green Mile',
  'popularity': 18.501,
  'poster_path': '/sOHqdY1RnSn6kcfAHKu28jvTebE.jpg',
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'genre_ids': [14, 18, 80],
  'backdrop_path': '/Rlt20sEbOQKPVjia7lUilFm49W.jpg',
  'adult': False,
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'release_date': '1999-12-10'},
 {'vote_count': 7361,
  'id': 637,
  'video': False,
  'vote_average': 8.5,
  'title': 'Life Is Beautiful',
  'popularity': 20.027,
  'poster_path': '/f7DImXDebOs148U4uPjI61iDvaK.jpg',
  'original_language': 'it',
  'original_title': 'La vita è bella',
  'genre_ids': [35, 18],
  'backdrop_path': '/bORe0eI72D874TMawOOFvqWS6Xe.jpg',
  'adult': False,
  'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
  'release_date': '1997-12-20'},
 {'vote_count': 15449,
  'id': 680,
  'video': False,
  'vote_average': 8.4,
  'title': 'Pulp Fiction',
  'popularity': 30.703,
  'poster_path': '/dM2w364MScsjFf8pfMbaWUcWrR.jpg',
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'genre_ids': [53, 80],
  'backdrop_path': '/4cDFJr4HnXN5AdPw4AKrmLlMWdO.jpg',
  'adult': False,
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'release_date': '1994-09-10'},
 {'vote_count': 458,
  'id': 40096,
  'video': False,
  'vote_average': 8.4,
  'title': "A Dog's Will",
  'popularity': 9.734,
  'poster_path': '/uHEmM49YphluJnGep8Ef1qwD2QX.jpg',
  'original_language': 'pt',
  'original_title': 'O Auto da Compadecida',
  'genre_ids': [12, 35],
  'backdrop_path': '/alQqTpmEkxSLgajfEYTsTH6nAKB.jpg',
  'adult': False,
  'overview': 'The lively João Grilo and the sly Chicó are poor guys living in the hinterland who cheat a bunch of people in a small Northeast Brazil town. But when they die, they have to be judged by Christ, the Devil and the Virgin Mary, before they are admitted to paradise.',
  'release_date': '2000-09-15'},
 {'vote_count': 4368,
  'id': 324857,
  'video': False,
  'vote_average': 8.4,
  'title': 'Spider-Man: Into the Spider-Verse',
  'popularity': 53.442,
  'poster_path': '/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg',
  'original_language': 'en',
  'original_title': 'Spider-Man: Into the Spider-Verse',
  'genre_ids': [28, 12, 16, 878, 35],
  'backdrop_path': '/uUiId6cG32JSRI6RyBQSvQtLjz2.jpg',
  'adult': False,
  'overview': 'Miles Morales is juggling his life between being a high school student and being a spider-man. When Wilson "Kingpin" Fisk uses a super collider, others from across the Spider-Verse are transported to this dimension.',
  'release_date': '2018-12-06'},
 {'vote_count': 19108,
  'id': 155,
  'video': False,
  'vote_average': 8.4,
  'title': 'The Dark Knight',
  'popularity': 37.28,
  'poster_path': '/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg',
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'genre_ids': [18, 28, 80, 53],
  'backdrop_path': '/hqkIcbrOHL86UncnHIsHVcVmzue.jpg',
  'adult': False,
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'release_date': '2008-07-16'},
 {'vote_count': 15060,
  'id': 13,
  'video': False,
  'vote_average': 8.4,
  'title': 'Forrest Gump',
  'popularity': 27.861,
  'poster_path': '/yE5d3BUhE8hCnkMUJOo1QDoOGNz.jpg',
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'genre_ids': [35, 18, 10749],
  'backdrop_path': '/wMgbnUVS9wbRGAdki8fqxKU1O0N.jpg',
  'adult': False,
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'release_date': '1994-07-06'},
 {'vote_count': 16502,
  'id': 550,
  'video': False,
  'vote_average': 8.4,
  'title': 'Fight Club',
  'popularity': 26.682,
  'poster_path': '/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg',
  'original_language': 'en',
  'original_title': 'Fight Club',
  'genre_ids': [18],
  'backdrop_path': '/mMZRKb3NVo5ZeSPEIaNW9buLWQ0.jpg',
  'adult': False,
  'overview': 'A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.',
  'release_date': '1999-10-15'},
 {'vote_count': 5036,
  'id': 539,
  'video': False,
  'vote_average': 8.4,
  'title': 'Psycho',
  'popularity': 25.425,
  'poster_path': '/81d8oyEFgj7FlxJqSDXWr8JH8kV.jpg',
  'original_language': 'en',
  'original_title': 'Psycho',
  'genre_ids': [27, 18, 53],
  'backdrop_path': '/3md49VBCeqY6MSNyAVY6d5eC6bA.jpg',
  'adult': False,
  'overview': 'When larcenous real estate clerk Marion Crane goes on the lam with a wad of cash and hopes of starting a new life, she ends up at the notorious Bates Motel, where manager Norman Bates cares for his housebound mother. The place seems quirky, but fine… until Marion decides to take a shower.',
  'release_date': '1960-06-16'},
 {'vote_count': 2285,
  'id': 311,
  'video': False,
  'vote_average': 8.4,
  'title': 'Once Upon a Time in America',
  'popularity': 19.144,
  'poster_path': '/fqP3Q7DWMFqW7mh11hWXbNwN9rz.jpg',
  'original_language': 'en',
  'original_title': 'Once Upon a Time in America',
  'genre_ids': [18, 80],
  'backdrop_path': '/vnT6HzjLSDrAweHn9xWykb8Ii6T.jpg',
  'adult': False,
  'overview': 'A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.',
  'release_date': '1984-05-23'},
 {'vote_count': 13361,
  'id': 122,
  'video': False,
  'vote_average': 8.4,
  'title': 'The Lord of the Rings: The Return of the King',
  'popularity': 35.572,
  'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
  'original_language': 'en',
  'original_title': 'The Lord of the Rings: The Return of the King',
  'genre_ids': [12, 14, 28],
  'backdrop_path': '/8BPZO0Bf8TeAy8znF43z8soK3ys.jpg',
  'adult': False,
  'overview': "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam bring the ring closer to the heart of Mordor, the dark lord's realm.",
  'release_date': '2003-12-01'},
 {'vote_count': 1769,
  'id': 11216,
  'video': False,
  'vote_average': 8.4,
  'title': 'Cinema Paradiso',
  'popularity': 10.25,
  'poster_path': '/hYzCLju3W74nLhhRXfPkwDi1Tun.jpg',
  'original_language': 'it',
  'original_title': 'Nuovo Cinema Paradiso',
  'genre_ids': [18, 10749],
  'backdrop_path': '/tVi83ttAeyMJinYpy6xfgJSpzvP.jpg',
  'adult': False,
  'overview': "A filmmaker recalls his childhood, when he fell in love with the movies at his village's theater and formed a deep friendship with the theater's projectionist.",
  'release_date': '1988-11-17'}]

In [51]:
response.text

'{"page":1,"total_results":7405,"total_pages":371,"results":[{"vote_count":2075,"id":19404,"video":false,"vote_average":9,"title":"Dilwale Dulhania Le Jayenge","popularity":17.554,"poster_path":"\\/uC6TTUhPpQCmgldGyYveKRAu8JN.jpg","original_language":"hi","original_title":"दिलवाले दुल्हनिया ले जायेंगे","genre_ids":[35,18,10749],"backdrop_path":"\\/mMaxGuQKuH4WUHBwUNhJOetDYE9.jpg","adult":false,"overview":"Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.","release_date":"1995-10-20"},{"vote_count":304,"id":496243,"video":false,"vote_average":8.8,"title":"Parasite","popularity":29.813,"poster_path":"\\/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg","original_language":"ko","original_title":"기생충","genre_ids":[18,53],"backdrop_path":"\\/ny5aCtglk2kceGAuAdiyqbhBBAf.jpg","adult":false,"overview":"All unemployed, Ki-taek\'s family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.","release_date":"2019-05-30"},{"vote_count":13345,"id":278,"video":false,"vote_average":8.7,"title":"The Shawshank Redemption","popularity":27.627,"poster_path":"\\/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg","original_language":"en","original_title":"The Shawshank Redemption","genre_ids":[18,80],"backdrop_path":"\\/j9XKiZrVeViAixVRzCta7h1VU9W.jpg","adult":false,"overview":"Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.","release_date":"1994-09-23"},{"vote_count":10189,"id":238,"video":false,"vote_average":8.6,"title":"The Godfather","popularity":24.982,"poster_path":"\\/rPdtLWNsZmAtoZl9PK7S2wE3qiS.jpg","original_language":"en","original_title":"The Godfather","genre_ids":[18,80],"backdrop_path":"\\/6xKCYgH16UuwEGAyroLU6p8HLIn.jpg","adult":false,"overview":"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","release_date":"1972-03-14"},{"vote_count":4253,"id":372058,"video":false,"vote_average":8.6,"title":"Your Name.","popularity":24.105,"poster_path":"\\/xq1Ugd62d23K2knRUx6xxuALTZB.jpg","original_language":"ja","original_title":"君の名は。","genre_ids":[10749,16,18],"backdrop_path":"\\/nvsdKYPKwf51EAgC0xLJMB9kUZM.jpg","adult":false,"overview":"High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.","release_date":"2016-08-26"},{"vote_count":8175,"id":424,"video":false,"vote_average":8.5,"title":"Schindler\'s List","popularity":21.357,"poster_path":"\\/yPisjyLweCl1tbgwgtzBCNCBle.jpg","original_language":"en","original_title":"Schindler\'s List","genre_ids":[18,36,10752],"backdrop_path":"\\/af98P1bc7lJsFjhHOVWXQgNNgSQ.jpg","adult":false,"overview":"The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.","release_date":"1993-12-15"},{"vote_count":5979,"id":240,"video":false,"vote_average":8.5,"title":"The Godfather: Part II","popularity":16.498,"poster_path":"\\/bVq65huQ8vHDd1a4Z37QtuyEvpA.jpg","original_language":"en","original_title":"The Godfather: Part II","genre_ids":[18,80],"backdrop_path":"\\/gLbBRyS7MBrmVUNce91Hmx9vzqI.jpg","adult":false,"overview":"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.","release_date":"1974-12-20"},{"vote_count":7533,"id":129,"video":false,"vote_average":8.5,"title":"Spirited Away","popularity":28.627,"poster_path":"\\/oRvMaJOmapypFUcQqpgHMZA6qL9.jpg","original_language":"ja","original_title":"千と千尋の神隠し","genre_ids":[16,10751,14],"backdrop_path":"\\/djgM2d3e42p9GFQObg6lwK2SVw2.jpg","adult":false,"overview":"A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.","release_date":"2001-07-20"},{"vote_count":8433,"id":497,"video":false,"vote_average":8.5,"title":"The Green Mile","popularity":18.501,"poster_path":"\\/sOHqdY1RnSn6kcfAHKu28jvTebE.jpg","original_language":"en","original_title":"The Green Mile","genre_ids":[14,18,80],"backdrop_path":"\\/Rlt20sEbOQKPVjia7lUilFm49W.jpg","adult":false,"overview":"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people\'s ailments. When the cell block\'s head guard, Paul Edgecomb, recognizes Coffey\'s miraculous gift, he tries desperately to help stave off the condemned man\'s execution.","release_date":"1999-12-10"},{"vote_count":7361,"id":637,"video":false,"vote_average":8.5,"title":"Life Is Beautiful","popularity":20.027,"poster_path":"\\/f7DImXDebOs148U4uPjI61iDvaK.jpg","original_language":"it","original_title":"La vita è bella","genre_ids":[35,18],"backdrop_path":"\\/bORe0eI72D874TMawOOFvqWS6Xe.jpg","adult":false,"overview":"A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.","release_date":"1997-12-20"},{"vote_count":15452,"id":680,"video":false,"vote_average":8.4,"title":"Pulp Fiction","popularity":30.703,"poster_path":"\\/dM2w364MScsjFf8pfMbaWUcWrR.jpg","original_language":"en","original_title":"Pulp Fiction","genre_ids":[53,80],"backdrop_path":"\\/4cDFJr4HnXN5AdPw4AKrmLlMWdO.jpg","adult":false,"overview":"A burger-loving hit man, his philosophical partner, a drug-addled gangster\'s moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.","release_date":"1994-09-10"},{"vote_count":458,"id":40096,"video":false,"vote_average":8.4,"title":"A Dog\'s Will","popularity":9.734,"poster_path":"\\/uHEmM49YphluJnGep8Ef1qwD2QX.jpg","original_language":"pt","original_title":"O Auto da Compadecida","genre_ids":[12,35],"backdrop_path":"\\/alQqTpmEkxSLgajfEYTsTH6nAKB.jpg","adult":false,"overview":"The lively João Grilo and the sly Chicó are poor guys living in the hinterland who cheat a bunch of people in a small Northeast Brazil town. But when they die, they have to be judged by Christ, the Devil and the Virgin Mary, before they are admitted to paradise.","release_date":"2000-09-15"},{"vote_count":4368,"id":324857,"video":false,"vote_average":8.4,"title":"Spider-Man: Into the Spider-Verse","popularity":53.442,"poster_path":"\\/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg","original_language":"en","original_title":"Spider-Man: Into the Spider-Verse","genre_ids":[28,12,16,878,35],"backdrop_path":"\\/uUiId6cG32JSRI6RyBQSvQtLjz2.jpg","adult":false,"overview":"Miles Morales is juggling his life between being a high school student and being a spider-man. When Wilson \\"Kingpin\\" Fisk uses a super collider, others from across the Spider-Verse are transported to this dimension.","release_date":"2018-12-06"},{"vote_count":19108,"id":155,"video":false,"vote_average":8.4,"title":"The Dark Knight","popularity":37.28,"poster_path":"\\/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg","original_language":"en","original_title":"The Dark Knight","genre_ids":[18,28,80,53],"backdrop_path":"\\/hqkIcbrOHL86UncnHIsHVcVmzue.jpg","adult":false,"overview":"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","release_date":"2008-07-16"},{"vote_count":15060,"id":13,"video":false,"vote_average":8.4,"title":"Forrest Gump","popularity":27.861,"poster_path":"\\/yE5d3BUhE8hCnkMUJOo1QDoOGNz.jpg","original_language":"en","original_title":"Forrest Gump","genre_ids":[35,18,10749],"backdrop_path":"\\/wMgbnUVS9wbRGAdki8fqxKU1O0N.jpg","adult":false,"overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","release_date":"1994-07-06"},{"vote_count":16502,"id":550,"video":false,"vote_average":8.4,"title":"Fight Club","popularity":26.682,"poster_path":"\\/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg","original_language":"en","original_title":"Fight Club","genre_ids":[18],"backdrop_path":"\\/mMZRKb3NVo5ZeSPEIaNW9buLWQ0.jpg","adult":false,"overview":"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \\"fight clubs\\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.","release_date":"1999-10-15"},{"vote_count":5036,"id":539,"video":false,"vote_average":8.4,"title":"Psycho","popularity":25.425,"poster_path":"\\/81d8oyEFgj7FlxJqSDXWr8JH8kV.jpg","original_language":"en","original_title":"Psycho","genre_ids":[27,18,53],"backdrop_path":"\\/3md49VBCeqY6MSNyAVY6d5eC6bA.jpg","adult":false,"overview":"When larcenous real estate clerk Marion Crane goes on the lam with a wad of cash and hopes of starting a new life, she ends up at the notorious Bates Motel, where manager Norman Bates cares for his housebound mother. The place seems quirky, but fine… until Marion decides to take a shower.","release_date":"1960-06-16"},{"vote_count":2285,"id":311,"video":false,"vote_average":8.4,"title":"Once Upon a Time in America","popularity":19.144,"poster_path":"\\/fqP3Q7DWMFqW7mh11hWXbNwN9rz.jpg","original_language":"en","original_title":"Once Upon a Time in America","genre_ids":[18,80],"backdrop_path":"\\/vnT6HzjLSDrAweHn9xWykb8Ii6T.jpg","adult":false,"overview":"A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.","release_date":"1984-05-23"},{"vote_count":13361,"id":122,"video":false,"vote_average":8.4,"title":"The Lord of the Rings: The Return of the King","popularity":35.572,"poster_path":"\\/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","original_language":"en","original_title":"The Lord of the Rings: The Return of the King","genre_ids":[12,14,28],"backdrop_path":"\\/8BPZO0Bf8TeAy8znF43z8soK3ys.jpg","adult":false,"overview":"Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron\'s forces. Meanwhile, Frodo and Sam bring the ring closer to the heart of Mordor, the dark lord\'s realm.","release_date":"2003-12-01"},{"vote_count":1769,"id":11216,"video":false,"vote_average":8.4,"title":"Cinema Paradiso","popularity":10.25,"poster_path":"\\/hYzCLju3W74nLhhRXfPkwDi1Tun.jpg","original_language":"it","original_title":"Nuovo Cinema Paradiso","genre_ids":[18,10749],"backdrop_path":"\\/tVi83ttAeyMJinYpy6xfgJSpzvP.jpg","adult":false,"overview":"A filmmaker recalls his childhood, when he fell in love with the movies at his village\'s theater and formed a deep friendship with the theater\'s projectionist.","release_date":"1988-11-17"}]}'

In [21]:
pages = [1, 2, 3, 4, 5]

In [22]:
import time

In [34]:
responses = []
for page in pages: 
    responses.append('https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}'.format(API, page))

In [38]:
for response in responses:
    request = requests.get(response)
    print(request)
    top_rated = request.json()['vote_count']['id']['vote_average']['popularity']['title']
    print(top_rated)

<Response [200]>

KeyError: 'vote_count'

In [56]:
def api_top(API, pages): 
    top_rated = []
    for page in pages: 
        requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}'.format(API, page))
        response = requests.get(url)
#         print(response)
        top_rated.append(response.text)
    return top_rated

In [57]:
top_rated = api_top(API, pages)

In [74]:
pages = [1, 2, 3, 4, 5]
top_rated_list = []
for page in pages:
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}'.format(API, page))
    if response.status_code == 200:
        top_rated_list.append(response.json()['results'])
    else: 
        print('unauthorized')

In [82]:
from itertools import chain

In [149]:
# top_rated = list(chain.from_iterable(top_rated_list))

In [148]:
# import pandas as pd
# top_df = pd.DataFrame.from_records(top_rated)
# print(len(top_df)) #Print how many rows
# print(top_df.columns) #Print column names
# top_df.head()

In [96]:
top_df = top_df[['id','title', 'popularity', 'vote_average', 'vote_count']]

In [136]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key={}&language=en-US&sort_by=vote_average.desc&include_adult=false&include_video=false&page=1&primary_release_year=2018'.format(API))

In [143]:
pages = [1, 2, 3, 4, 5]
top_rated_list = []
for page in pages:
    response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key={}&language=en-US&sort_by=vote_average.desc&include_adult=false&include_video=false&page={}&primary_release_year=2018'.format(API, page))
    if response.status_code == 200:
        top_rated_list.append(response.json()['results'])
    else: 
        print('unauthorized')

In [144]:
top_rated = list(chain.from_iterable(top_rated_list))

In [147]:
top_df = pd.DataFrame.from_records(top_rated)
print(len(top_df)) #Print how many rows
print(top_df.columns) #Print column names
top_df.head()

100
Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5sTXzeEmRbZ66HJ3lj9uO5USgr7.jpg,"[80, 53]",413881,en,According to Matthew,A highly respected priest conspires with his m...,3.372,/yw1qLqwXQORZqNO5aRLZywYSPBr.jpg,2018-11-24,According to Matthew,False,10,5
1,False,None,"[10402, 99]",571679,en,Now United: Dreams Come True,See how the group came to be and what it took ...,0.600,/hINGeQe5psODwFzkHIOg0HqmYZa.jpg,2018-12-29,Now United: Dreams Come True,False,10,3
2,False,/gUg3rm2kbnMj2fA7yPQGJ4rap6P.jpg,"[16, 12]",561974,ko,점박이 한반도의 공룡 2: 새로운 낙원,"Speckles, a ferocious tarbosaurus and his youn...",5.845,/ybHM7tXJ96sXf86wAq5orGz1xET.jpg,2018-12-25,Dino King 3D: Journey to Fire Mountain,False,10,3
3,False,/7LD18Y2V7FtPSryQoio6jOKPPEy.jpg,"[18, 10402]",515264,en,Hall American: Forbidden,,0.749,/1K1477QWuZ86q8urc9IjJr4T7vo.jpg,2018-03-15,Hall American: Forbidden,False,10,3
4,False,None,[],496332,hi,KHATA-Kaash Humse Na Hoti,An upcoming crime movie starring Shahid Kapoor.,0.853,/hElu4XTHxbGT2JKMZtrUbvDCpAy.jpg,2018-08-14,KHATA-Kaash Humse Na Hoti,False,10,3

In [150]:
top_df = top_df[['id','title', 'genre_ids', 'popularity', 'vote_average', 'vote_count']]

In [152]:
top_df.describe()

                  id  popularity  vote_average  vote_count
count     100.000000  100.000000         100.0  100.000000
mean   559252.770000    0.903450          10.0    1.530000
std     57997.952594    0.692433           0.0    0.688359
min    280721.000000    0.600000          10.0    1.000000
25%    527017.250000    0.600000          10.0    1.000000
50%    586889.000000    0.625500          10.0    1.000000
75%    599098.500000    0.953250          10.0    2.000000
max    614648.000000    5.845000          10.0    5.000000

In [156]:
pages = list(range(1, 793))

In [157]:
pages = list(range(1, 793))
all_2018 = []
for page in pages:
    response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key={}&language=en-US&sort_by=vote_average.desc&include_adult=false&include_video=false&page={}&primary_release_year=2018'.format(API, page))
    time.sleep(2)
    if response.status_code == 200:
        all_2018.append(response.json()['results'])
    else: 
        print('unauthorized')

In [160]:
all_2018_unlist = list(chain.from_iterable(all_2018))

In [165]:
df_2018 = pd.DataFrame.from_records(all_2018_unlist)
print(len(df_2018)) #Print how many rows
print(df_2018.columns) #Print column names
df_2018.head()

15840
Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5sTXzeEmRbZ66HJ3lj9uO5USgr7.jpg,"[80, 53]",413881,en,According to Matthew,A highly respected priest conspires with his m...,3.372,/yw1qLqwXQORZqNO5aRLZywYSPBr.jpg,2018-11-24,According to Matthew,False,10.0,5
1,False,None,"[10402, 99]",571679,en,Now United: Dreams Come True,See how the group came to be and what it took ...,0.600,/hINGeQe5psODwFzkHIOg0HqmYZa.jpg,2018-12-29,Now United: Dreams Come True,False,10.0,3
2,False,/gUg3rm2kbnMj2fA7yPQGJ4rap6P.jpg,"[16, 12]",561974,ko,점박이 한반도의 공룡 2: 새로운 낙원,"Speckles, a ferocious tarbosaurus and his youn...",5.845,/ybHM7tXJ96sXf86wAq5orGz1xET.jpg,2018-12-25,Dino King 3D: Journey to Fire Mountain,False,10.0,3
3,False,/7LD18Y2V7FtPSryQoio6jOKPPEy.jpg,"[18, 10402]",515264,en,Hall American: Forbidden,,0.749,/1K1477QWuZ86q8urc9IjJr4T7vo.jpg,2018-03-15,Hall American: Forbidden,False,10.0,3
4,False,None,[],496332,hi,KHATA-Kaash Humse Na Hoti,An upcoming crime movie starring Shahid Kapoor.,0.853,/hElu4XTHxbGT2JKMZtrUbvDCpAy.jpg,2018-08-14,KHATA-Kaash Humse Na Hoti,False,10.0,3

In [193]:
df = df_2018[['id', 'title', 'genre_ids', 'vote_average', 'vote_count', 'popularity']]

In [194]:
import numpy as np

In [195]:
df.vote_count.replace(0, np.NaN, inplace = True)

/Users/Natalie/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [201]:
df = df[df['vote_count'] >= 50]

Our highest rated movie after increasing the vote count threshold to 50 was only 8.4 because many movies were rated as 10 by only 1 or 2 people

In [228]:
mov_ids = list(df.id)

In [229]:
mov_ids

[324857,
 517814,
 489471,
 529531,
 423612,
 490003,
 490132,
 299536,
 538362,
 504253,
 505262,
 470044,
 520594,
 449176,
 524288,
 564427,
 498249,
 568332,
 543580,
 424694,
 493100,
 515042,
 514575,
 508933,
 505192,
 547691,
 549484,
 438146,
 466282,
 504969,
 399174,
 534780,
 493099,
 484751,
 507256,
 502897,
 544510,
 426426,
 483983,
 484747,
 451480,
 419478,
 496328,
 489418,
 483184,
 426618,
 454693,
 514754,
 375262,
 489999,
 333339,
 489930,
 499631,
 447856,
 451915,
 489988,
 451657,
 440298,
 348657,
 470878,
 491418,
 529216,
 487558,
 260513,
 418472,
 332562,
 383498,
 554653,
 515916,
 498248,
 481432,
 503314,
 437586,
 489925,
 500006,
 339380,
 417261,
 470333,
 479226,
 475215,
 456929,
 284054,
 420814,
 487670,
 491584,
 500664,
 531122,
 519035,
 369523,
 520736,
 425373,
 491629,
 353081,
 517331,
 447332,
 518671,
 398173,
 456154,
 486947,
 555561,
 438373,
 449749,
 458423,
 474354,
 507076,
 518668,
 454983,
 340613,
 537996,
 404368,
 472451,
 476299,
 485166,
 532908,
 446663,
 476292,
 461615,
 465914,
 483980,
 394741,
 506767,
 332283,
 485189,
 539517,
 485162,
 426613,
 446696,
 472734,
 440424,
 429197,
 455207,
 369972,
 449992,
 519091,
 484482,
 507505,
 556803,
 450489,
 512418,
 504603,
 500849,
 336843,
 454652,
 476968,
 527435,
 502422,
 384677,
 361292,
 440161,
 465136,
 407447,
 493922,
 405774,
 569547,
 297725,
 495193,
 363088,
 489931,
 474395,
 508206,
 523777,
 458342,
 527729,
 407890,
 299782,
 567604,
 432527,
 470918,
 469274,
 535358,
 528949,
 424781,
 454227,
 401847,
 402900,
 468362,
 469055,
 445571,
 458737,
 400579,
 338952,
 491472,
 517940,
 494493,
 448776,
 502166,
 470229,
 347866,
 297802,
 446021,
 546266,
 445651,
 417670,
 523773,
 338768,
 417812,
 463858,
 443463,
 427214,
 448095,
 400155,
 475132,
 517839,
 468210,
 474331,
 489927,
 513347,
 429300,
 477510,
 396373,
 455980,
 518496,
 458534,
 401200,
 469056,
 480530,
 481157,
 497916,
 416494,
 492452,
 467632,
 450720,
 400535,
 487242,
 493551,
 555850,
 416194,
 507569,
 541660,
 510456,
 438799,
 511785,
 467482,
 547491,
 527246,
 457136,
 446894,
 391710,
 464502,
 412000,
 513574,
 529962,
 474051,
 433310,
 443009,
 400650,
 335983,
 348350,
 484247,
 487476,
 399725,
 407436,
 474444,
 506951,
 460555,
 420426,
 449443,
 401545,
 489170,
 429417,
 504172,
 471474,
 529210,
 401981,
 505159,
 351044,
 438145,
 381719,
 462919,
 514577,
 351286,
 552088,
 401469,
 458594,
 474335,
 544431,
 429203,
 424783,
 515333,
 500475,
 458344,
 345887,
 538604,
 360920,
 507143,
 508642,
 451713,
 454992,
 478820,
 421471,
 518452,
 489430,
 424139,
 460668,
 430231,
 516788,
 510465,
 515911,
 431072,
 433150,
 396461,
 467938,
 506763,
 525041,
 521092,
 482712,
 490445,
 520331,
 461928,
 338970,
 467867,
 463322,
 451925,
 397722,
 489415,
 300668,
 399402,
 457435,
 438808,
 513223,
 525938,
 492353,
 515841,
 519106,
 486101,
 476678,
 411143,
 454619,
 375107,
 488689,
 477033,
 437294,
 283601,
 391714,
 446101,
 490448,
 531145,
 425505,
 508540,
 399796,
 453755,
 460885,
 399248,
 399035,
 468219,
 467952,
 462148,
 463272,
 427641,
 463821,
 492355,
 519253,
 505058,
 467660,
 486070,
 383585,
 502074,
 500268,
 478159,
 467824,
 407439,
 502122,
 503616,
 199928,
 437557,
 518527,
 504345,
 337167,
 537847,
 426865,
 426814,
 447200,
 492719,
 558022,
 502682,
 510469,
 508018,
 406563,
 417643,
 451877,
 520777,
 421658,
 477489,
 424121,
 429742,
 506072,
 454293,
 419831,
 458005,
 457041,
 449019,
 500634,
 514266,
 426543,
 460019,
 428078,
 514236,
 456086,
 475930,
 519597,
 456165,
 521647,
 347375,
 464737,
 446807,
 399360,
 479040,
 499151,
 476764,
 429202,
 459910,
 565413,
 414001,
 406761,
 490450,
 448565,
 437029,
 418667,
 354279,
 345940,
 429415,
 432301,
 514239,
 422619,
 387592,
 268896,
 521935,
 487004,
 495766,
 471507,
 514619,
 340022,
 425148,
 395990,
 451563,
 463053,
 486078,
 497814,
 396806,
 452015,
 486103,
 526051,
 497727,
 300681,
 455108,
 442249,
 50022,
 433627,
 523931,
 467673,
 375588,
 525554,
 470211,
 416234,
 473149,
 460071,
 535561,
 513377,
 499726,
 560491,
 486520,
 376865,
 550385,
 438590,
 529784,
 490004,
 385332,
 457955,
 466703,
 412988,
 429351,
 452731,
 442062,
 481762,
 469916,
 446170,
 534939,
 399131,
 401371,
 503619,
 495671,
 439079,
 503752,
 485942,
 385360,
 525460,
 463387,
 384521,
 434355,
 412302,
 401478,
 489929,
 457943,
 563741,
 456750,
 431185,
 499319,
 362826,
 469721,
 429476,
 504331,
 503403,
 463022,
 533992,
 516043,
 442064,
 430040,
 458956,
 370567,
 458109,
 421792,
 371608,
 486521,
 517324,
 515820,
 401905,
 536115,
 518880,
 340601,
 461992,
 474104,
 471856,
 424619,
 474392,
 476926,
 505063,
 531949,
 453201,
 520360,
 436373,
 339103,
 517829,
 514277,
 346910,
 367462,
 454283,
 381237,
 437310,
 450001,
 395841,
 496704,
 493006,
 465109,
 505177,
 434555,
 496212,
 554133,
 502143,
 500919,
 437380,
 521329,
 414191,
 409582,
 475210,
 220882,
 522417,
 531736,
 459616,
 481375,
 407451,
 535437,
 422615,
 531593,
 447665,
 455236,
 524789,
 548066,
 489939,
 505954,
 469052,
 448916,
 390059,
 385448,
 499722,
 454615,
 295011,
 495673,
 440471,
 457915,
 444149,
 511449,
 437375,
 492336,
 462979,
 340674,
 523873,
 431135,
 455605,
 437316,
 490214,
 438689,
 503346,
 426563,
 411135,
 353576,
 563766,
 485415,
 525102,
 439015,
 345934,
 485774,
 523849,
 535488]

In [254]:
mov_ids = list(df.id)
ids = []
budget = []
for mov_id in mov_ids:
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&language=en-US'.format(mov_id, API))
    time.sleep(2)
    if response.status_code == 200:
        ids.append(response.json()['id'])
        budget.append(response.json()['budget'])
    else: 
        print('unauthorized')

In [332]:
budget_data =dict(zip(ids, budget))

In [333]:
df1 = pd.DataFrame.from_dict(budget_data, orient = 'index')

In [352]:
df1.columns = ['id','budget']

In [335]:
df1 = df1[df1.budget != 0]

In [336]:
df1 = df1.reset_index()

In [353]:
df1

         id     budget
0    324857   90000000
1    517814    4000000
2    490132   23000000
3    299536  300000000
4    470044   23000000
5    449176   17000000
6    424694   52000000
7    399174   62770198
8    534780    4500000
9    426426   15000000
10   496328   21918618
11   375262   15000000
12   489999    1000000
13   333339  175000000
14   440298    4954000
15   491418   48000000
16   487558   15000000
17   260513  200000000
18   332562   36000000
19   383498  110000000
20   503314    1000000
21   437586     258157
22   489925    2000000
23   500006     688960
24   417261    3500000
25   470333    2000000
26   284054  200000000
27   420814   75000000
28   491584    7080000
29   500664    5000000
..      ...        ...
182  429476    5500000
183  463022    2300000
184  442064   14000000
185  430040   35000000
186  370567   59000000
187  458109    8500000
188  371608   12500000
189  474104     150000
190  453201   30000000
191  339103   10000000
192  514277    5000000
193  346910   88000000
194  454283   19000000
195  381237    2500000
196  434555    7700000
197  475210   20000000
198  220882    8000000
199  407451  103000000
200  447665   13000000
201  505954   10000000
202  454615    4000000
203  444149     500000
204  340674    4480393
205  503346    6000000
206  426563   42000000
207  353576   13000000
208  485415    8000000
209  525102    1000000
210  439015   10000000
211  345934   65000000

[212 rows x 2 columns]

In [354]:
import sqlite3
conn = sqlite3.connect('tmdb.db')
c = conn.cursor()

In [440]:
c.execute('''CREATE TABLE IF NOT EXISTS budgets
                 ([index] INTEGER PRIMARY KEY,
                 [id] integer,
                 [budget] integer)''')

In [439]:
c.execute('''DROP TABLE budgets''')
conn.commit()

In [441]:
for i in range(0, len(df1)):
    try:
        c.execute('''INSERT INTO budgets 
            (id, budget)
            VALUES(?,?)''', 
            (int(df1['id'][i]),
            df1['budget'][i]))
        conn.commit()
    except:
        print(df1['id'][i], df1['budget'][i])

In [375]:
df.drop(['genre_ids'], axis = 1, inplace = True)

In [442]:
c.execute('''SELECT id FROM budgets''').fetchall()

[(324857,),
 (517814,),
 (490132,),
 (299536,),
 (470044,),
 (449176,),
 (424694,),
 (399174,),
 (534780,),
 (426426,),
 (496328,),
 (375262,),
 (489999,),
 (333339,),
 (440298,),
 (491418,),
 (487558,),
 (260513,),
 (332562,),
 (383498,),
 (503314,),
 (437586,),
 (489925,),
 (500006,),
 (417261,),
 (470333,),
 (284054,),
 (420814,),
 (491584,),
 (500664,),
 (353081,),
 (517331,),
 (447332,),
 (398173,),
 (458423,),
 (474354,),
 (507076,),
 (404368,),
 (465914,),
 (394741,),
 (426613,),
 (446696,),
 (429197,),
 (455207,),
 (369972,),
 (507505,),
 (450489,),
 (336843,),
 (476968,),
 (361292,),
 (465136,),
 (493922,),
 (405774,),
 (297725,),
 (363088,),
 (489931,),
 (474395,),
 (523777,),
 (407890,),
 (299782,),
 (402900,),
 (468362,),
 (445571,),
 (458737,),
 (338952,),
 (494493,),
 (297802,),
 (446021,),
 (445651,),
 (400155,),
 (429300,),
 (455980,),
 (458534,),
 (401200,),
 (480530,),
 (492452,),
 (450720,),
 (400535,),
 (493551,),
 (416194,),
 (438799,),
 (457136,),
 (391710,),
 (464502,),
 (513574,),
 (433310,),
 (400650,),
 (335983,),
 (348350,),
 (484247,),
 (399725,),
 (407436,),
 (460555,),
 (420426,),
 (449443,),
 (401545,),
 (504172,),
 (471474,),
 (401981,),
 (351044,),
 (381719,),
 (351286,),
 (401469,),
 (458594,),
 (474335,),
 (424783,),
 (500475,),
 (345887,),
 (360920,),
 (454992,),
 (424139,),
 (460668,),
 (431072,),
 (396461,),
 (467938,),
 (482712,),
 (338970,),
 (300668,),
 (438808,),
 (513223,),
 (454619,),
 (425505,),
 (399796,),
 (453755,),
 (460885,),
 (399035,),
 (463272,),
 (427641,),
 (463821,),
 (519253,),
 (505058,),
 (467660,),
 (383585,),
 (478159,),
 (467824,),
 (503616,),
 (437557,),
 (337167,),
 (447200,),
 (502682,),
 (508018,),
 (406563,),
 (421658,),
 (477489,),
 (454293,),
 (419831,),
 (449019,),
 (426543,),
 (460019,),
 (428078,),
 (347375,),
 (446807,),
 (399360,),
 (406761,),
 (437029,),
 (418667,),
 (354279,),
 (345940,),
 (432301,),
 (387592,),
 (268896,),
 (471507,),
 (514619,),
 (425148,),
 (395990,),
 (486078,),
 (497814,),
 (396806,),
 (300681,),
 (442249,),
 (50022,),
 (375588,),
 (525554,),
 (416234,),
 (473149,),
 (438590,),
 (412988,),
 (429351,),
 (442062,),
 (439079,),
 (384521,),
 (434355,),
 (429476,),
 (463022,),
 (442064,),
 (430040,),
 (370567,),
 (458109,),
 (371608,),
 (474104,),
 (453201,),
 (339103,),
 (514277,),
 (346910,),
 (454283,),
 (381237,),
 (434555,),
 (475210,),
 (220882,),
 (407451,),
 (447665,),
 (505954,),
 (454615,),
 (444149,),
 (340674,),
 (503346,),
 (426563,),
 (353576,),
 (485415,),
 (525102,),
 (439015,),
 (345934,)]

In [431]:
c.execute('''CREATE TABLE IF NOT EXISTS top_rated
                 ([index] INTEGER PRIMARY KEY,
                 [id] integer,
                 [title] text,
                 [vote_average] integer, 
                 [vote_count] integer, 
                 [popularity] integer
                 )''')

In [432]:
for i in range(0, len(df)):
    try:
        c.execute('''INSERT INTO top_rated 
            (id, title, vote_average, vote_count, popularity)
            VALUES(?,?,?,?,?)''', 
            (int(df['id'][i]),
            df['title'][i], 
            df['vote_average'][i],
            df['vote_count'][i],
            df['popularity'][i]))
        conn.commit()
    except:
        print(df['id'][i], df['title'][i], df['vote_average'][i], df['vote_count'][i], df['popularity'][i])

In [430]:
c.execute('''DROP TABLE top_rated;''')
conn.commit()

In [388]:
df.reset_index(inplace = True)

In [389]:
df.drop(['index'], axis = 1, inplace = True)